<h2 class="text-center">Edit Level</h2>

<%= simple_form_for [:admin, @level] do |f| %>

<% if @level.image.present? %>
  <span>Current Pic</span> <br>
  <%= image_tag(@level.image.thumb) %>
<% end %>

<%= render :partial => "form", :locals => { :f => f } %>

<% end %>
