<div class="course-block">
  <div class="card-header">
    <div class="split">

      <h4>功能：<br><br>
        1. 显示学生当前的task<br>
        2. 学生完成task（文字、图片或视频）后可上传、提交<br>
        3. 学生可以看其他同学的该作业
      </h4>

    </div>
  </div>
</div>
