<div class="col-md-12">
   <div class="row box">
       <h2 class="title">Learn Chinese  Seize the Next Big Opportunity</h2>
       <p class="slogan">
         We believe, with the right way, everyone can speak Chinese freely in 6 months.<br>
         Join us! Make this wonder with great fun!
       </p>
       <p class="lead">
         <%= link_to 'Get Started', levels_path, class: 'banner-btn' %>
       </p>
   </div>
 </div>
