<!-- Banner Section -->
<div class="lp-section-1 row">
  <h2 class="title">Learn Chinese  Seize the Next Big Opportunity</h2>
  <p class="slogan">
    We believe, with the right way, everyone can speak Chinese freely in 6 months.<br>
    Join us! Make this wonder with great fun!
  </p>
  <p class="lead">
    <%= link_to 'Get Started', levels_path, class: 'banner-btn' %>
  </p>
 </div>


<!-- Icon Section -->
<div class="lp-section-2">
  <div class="common-width">
    <h2 class="section-title">How We Help You Succeed</h2>
    <!-- <hr class="line"> -->
    <div class="flex-block">

      <div class="section-card">
        <img src="http://ww2.sinaimg.cn/large/006tNc79gy1fjc4d1bnovj303k03kglg.jpg">
        <h3>Brain-Friendly Learning Approach</h3>
        <p>
          With practical strategies from Brain Science and Cognitive Psychology,
          you will 'acquire' Chinese, as you acquired your mother tongue as a kid.
        </p>
      </div>

      <div class="section-card">
        <img src="http://ww4.sinaimg.cn/large/006tNc79ly1fjc4boqi1wj303k03kt8k.jpg">
        <h3>Game-Based Environment</h3>
        <p>
          Rack up coins in challenges and earn badges as you complete each course level.
          You will have loads of fun that keep you playing.
        </p>
      </div>

      <div class="section-card">
        <img src="http://ww3.sinaimg.cn/large/006tNc79ly1fjc45z2uu4j303k03ka9y.jpg">
        <h3>Highly Interactive Community</h3>
        <p>
          You are not learning alone. Your peers are together with you in our community
          where you compete, share, and help.
        </p>
      </div>

    </div>
  </div>
</div>


<!-- Video Section -->
<div class="lp-section-3">
  <div class="common-width">
    <h2 class="section-title">The Best Way to Learn Chinese</h2>
    <!-- <hr class="line"> -->
    <div class="welcome-video">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/d0yGdNEWdn0"
        class="embed-responsive-item" frameborder="0" allowfullscreen="">
        </iframe>
      </div>
    </div>

  </div>
</div>


<!-- Feedback Section -->
<div class="lp-section-2">
  <div class="common-width">
    <h2 class="section-title">What Our Learners Say</h2>
    <!-- <hr class="line"> -->
    <div class="sp_card_con index_boxshadow animateCard">
      <p>
        asdfasdfasdfasdfasdfadsfasdfasdfasdfasdfadsfasdfasdfasdfasdf
        asdfasdfasdfasdfasdfadsfasdfasdfasdfasdfadsfasdfasdfasdfasdfddd
      </p>
    </div>
  </div>
</div>
