<!-- Banner Section -->
<!-- <div class="col-md-12"> -->
  <div class="row box">
    <h2 class="title">Learn Chinese  Seize the Next Big Opportunity</h2>
    <p class="slogan">
      We believe, with the right way, everyone can speak Chinese freely in 6 months.<br>
      Join us! Make this wonder with great fun!
    </p>
    <p class="lead">
      <%= link_to 'Get Started', levels_path, class: 'banner-btn' %>
    </p>
 </div>
<!-- </div> -->


<!-- Icon Section -->
<section class="white">
  <div class="common-width">
    <h2 class="section-title">How We Help You Succeed</h2>
    <!-- <hr class="line"> -->
    <div class="flex-block">

      <div class="section-card">
        <img src="http://ww1.sinaimg.cn/large/006tNc79ly1fj8onbk10vj303k03kmx0.jpg">
        <h3>Brain-Friendly Learning Approach</h3>
        <p>
          With practical strategies from Brain Science and Cognitive Psychology,
          you will 'acquire' Chinese, as you acquired your mother tongue as a kid.
        </p>
      </div>

      <div class="section-card">
        <img src="http://ww2.sinaimg.cn/large/006tNc79gy1fj8p3c2uitj303k03k0sk.jpg">
        <h3>Game-Based Environment</h3>
        <p>
          Rack up coins in challenges and earn badges as you complete each course level.
          You will have loads of fun that keep you playing.
        </p>
      </div>

      <div class="section-card">
        <img src="http://ww4.sinaimg.cn/large/006tNc79gy1fj8vs7w3bfj303k03k747.jpg">
        <h3>Highly Interactive Community</h3>
        <p>
          You are not learning alone. Your peers are together with you in our community
          where you compete, share, and help.
        </p>
      </div>

    </div>
  </div>
</section>
