<div class="frame common-width">

  <h2><%= link_to(@challenge.subtitle, level_path(@level)) %></h2>

  <div>
    <% if @challenge.goal.present? %>
      <h3>Goal</h3>
      <hr>
      <p><%= @challenge.goal %></p>
    <% end %>
  </div>

  <br>

  <div>
    <p><%= sanitize @challenge.content %></p>
  </div>

  <br>

  <div>
    <% if @challenge.task.present? %>
      <h3>Task</h3>
      <hr>
      <p><%= @challenge.task %></p>
    <% end %>
  </div>

</div>
